<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{table.list.title}">Liste des tables</title>
    <div th:insert="~{common/menu :: header}"></div>
</head>

<body class="bg-light">
<div th:insert="~{common/menu :: menu}"></div>

<!-- Formulaire Table -->
<div class="container mt-5">
    <h2 th:text="${table.identifiant == null ? 'table.form.add' : 'table.form.edit'}"></h2>
    <form th:action="@{${table.identifiant == null ? '/tables' : '/tables/' + ${table.identifiant}}}" method="post">
        <!-- Input caché pour l'ID lors de l'édition -->
        <input type="hidden" th:if="${table != null}" th:value="${table.identifiant}" name="id">

        <div class="mb-3">
            <label for="nbrPlace" class="form-label" th:text="#{table.form.places}">Nombre de Places</label>
            <input type="number" class="form-control" id="nbrPlace" th:value="${table != null ? table.nbrPlace : ''}" name="nbrPlace" placeholder="Nombre de places">
        </div>

        <div class="mb-3">
            <label for="status" class="form-label" th:text="#{table.form.status}">Statut</label>
            <select class="form-select" id="status" name="statut">
                <option th:selected="${table != null && table.statut == 'disponible'}" value="disponible">
                    <span th:text="#{table.status.disponible}">Disponible</span>
                </option>
                <option th:selected="${table != null && table.statut == 'reserve'}" value="reserve">
                    <span th:text="#{table.status.reserve}">Réservé</span>
                </option>
                <option th:selected="${table != null && table.statut == 'entretien'}" value="entretien">
                    <span th:text="#{table.status.entretien}">En entretien</span>
                </option>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">
                <span th:text="#{table.form.submit}">Enregistrer</span>
            </button>
            <a href="/tables" class="btn btn-secondary">
                <span th:text="#{table.form.cancel}">Annuler</span>
            </a>
        </div>
    </form>
</div>
</body>
</html>
